Source: obs-sceneswitcher
Section: video
Priority: optional
Maintainer: Max <rk-obs@yandex.ru>
Rules-Requires-Root: no
Build-Depends:
  debhelper-compat (= 13),
  build-essential,
  cmake,
  libcpp-httplib-dev,
  libgles2-mesa-dev,
  libobs-dev,
  libopencv-dev,
  libpaho-mqtt-dev,
  libpaho-mqttpp-dev,
  libqt6svg6-dev,
  libsimde-dev,
  libtesseract-dev,
  libusb-dev,
  libwhisper-dev,
  pkg-config,
  qt6-base-dev,
  qt6-base-private-dev,
  xorg-dev,
Standards-Version: 4.7.2
Homepage: https://github.com/WarmUpTill/SceneSwitcher
Vcs-Browser: https://github.com/mar0x/obs-sceneswitcher
Vcs-Git: https://github.com/mar0x/obs-sceneswitcher.git

Package: obs-sceneswitcher
Architecture: any
Depends: ${misc:Depends},
Description: An automation plugin for OBS Studio
 More information can be found in the OBS forums or the plugin's wiki.
